<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<p>
  <strong>Video url:</strong>
  <%= @game.video_url %>
</p>

<p>
  <strong>Facebook url:</strong>
  <%= @game.facebook_url %>
</p>

<p>
  <strong>Twitter url:</strong>
  <%= @game.twitter_url %>
</p>

<p>
  <strong>Web url:</strong>
  <%= @game.web_url %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
