// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.header {  
	background-image: url(http://0.0.0.0:3000/assets/bg-day.jpg);
	background-attachment: fixed;
	background-origin: padding-box;
	background-clip: border-box;
	background-color: rgba(0, 0, 0, 0);
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat no-repeat;
	transition: background-image 20s ease;
	-webkit-backface-visibility: hidden;
}