<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Indiependency</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <link rel="shortcut icon" href="../../assets/ico/favicon.png">
    <!-- Bootstrap core CSS -->

  </head>

  <body>

    <!-- Side Menu -->
    <a id="menu-toggle" href="#" class="btn btn-primary btn-lg toggle"><i class="icon-reorder"></i></a>
    <div id="sidebar-wrapper">
      <ul class="sidebar-nav">
        <a id="menu-close" href="#" class="btn btn-default btn-lg pull-right toggle"><i class="icon-remove"></i></a>
        <li class="sidebar-brand"><%= link_to "Indiependency", root_path, method: :get %></li>
        <% if user_signed_in? %>
        <li class="active"><a href="#">Bienvenido <%= current_user.fullName %></a></li>
        <li><%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete %></li>
        <% else %>  
        <li><%= link_to "Log In", new_user_session_path, method: :get %></li>
        
        <% end %>
        <li><%= link_to "Game Showcase", games_path, method: :get %></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Portfolio</a></li>
        <li><a href="#">Services</a></li>
        <li><%= link_to "Need Help?", help_path, method: :get %></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <canvas id="clockid" class="CoolClock:modern:70" style="position:absolute; bottom:0; left:25%"></canvas>
    </div>
    <!-- /Side Menu -->
  

<!--      <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p> -->
     <%= yield %>


  <!-- Custom JavaScript for the Side Menu - Put in a custom JS file if you want to clean this up -->
  <script>
      $("#menu-close").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>
  <script>
      $("#menu-toggle").click(function(e) {
          e.preventDefault();
          $("#sidebar-wrapper").toggleClass("active");
      });
  </script>

  </body>

</html>